body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: green;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 25px;
    padding: 25px;
}