body {
    margin: 0;
    height: 100vh;
}

nav {
    background-color: green;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    height: 25px;
    padding: 25px;
}


#left-container {
    background-color: grey;
    height: 250px;
    border-radius: 18px;
}

#device {
    display: flex;
    align-items: center;
}

span {
    font-size: 1.6em;
}



button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 12px;
}

button:hover {
    background-color: green;
    transition: all .3s;
}